@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,600);


.watch-widget {
  margin: auto;
  position: relative;
  bottom: 0;
  right: 0;
  width: 264px;
  height: 344px;
  background: #f1e9db;
  border-radius: 10px;
  box-shadow: 0 0 85px #222;
  overflow: hidden;

}



.watch-widget .cover {
  background: url("../img/warriors.jpg");
  height: 264px;
}
.watch-widget .bilgi {
  padding: 20px 30px;
  height: 80px;
  margin: 0;
  position: absolute;
  left: 68px;
  top: 255px;
}
.watch-widget .bilgi h2, .kart .bilgi h6 {
  font-weight: 300;
  margin: 0;
}
.watch-widget .bilgi h2 {
  font-size: 32px;
  color: #725e5b;
}
.watch-widget .bilgi h6 { 
  color: #b8a47e;
  margin-top: -2px;
}
.watch-widget .avatar {
  position: absolute;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  border: 10px solid #725e5b;
  top: 225px;
  left: 25px;
  background: url("../img/system_icons/google-talk-icon.png");
  background-size: 110% 110%;
  background-position: center center;
  box-shadow: 0 1px 2px #000;
  
}



.watch-widget .saat {
  position: absolute;
  top: 15px;
  left: 18px;
  background: url("http://www.acilservis.pro/card/card-icon-clock.png") no-repeat left center;
  padding-left: 25px;
  color: white;
  font-weight: 600;
}
